<div class="container">
  <h1 class="mt-5">Send a rent request</h1>
  <%= simple_form_for [@item, @booking] do |f| %>
  <%= f.input :start_date, as: :date, html5: true %>
  <%= f.input :end_date, as: :date, html5: true %>
  <%= f.button :submit, value: "Rent an item", class: "btn-pink" %>
  <% end %>

  <div class="mt-3"><%= link_to "Go back", item_path(@item), class: "btn btn-dark" %></div>
</div>
