<div class="banner">
  <div class="container">
    <h1>The rental platform for furniture and homeware.</h1>
    <p class="mb-5">Buy, Swap or Return when it suits you.</p>
    <%= link_to "SHOP ALL", items_path, class: "btn-main" %>
  </div>
</div>
<div class="container">
  <h2 id="new">what's new?</h2>
  <div class="row">
    <% @most_recent_items.each do |i| %>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <%= link_to item_path(i) do %>
          <div class="product-card">
            <%= cl_image_tag i.photo.key %>
            <div class="product-card-infos">
              <div class="card-text">
                <h2><%= i.name %></h2>
                <p class="mb-2"><%= i.category %></p>
                <%= link_to "Learn more", item_path(i), class: "btn btn-dark" %>
              </div>
              <h2 class="product-card-pricing">£<%= i.price %></h2>
              </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<h2 id="categories">categories</h2>
<div class="row">
  <div class="col-sm-12 col-md-6 category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dqydndvhv/image/upload/v1661948076/g1hhiywpd3o3rwtv8thc.jpg)">
    <div>
    <h3>sofas</h3>
    <%= link_to "SHOP NOW", items_path(query: "sofa"), class: "btn-main" %>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dqydndvhv/image/upload/v1661949410/qqs0dl3e1lxxkmqgs0im.jpg)">
    <h3>desks</h3>
    <%= link_to "SHOP NOW", items_path(query: "table"), class: "btn-main" %>
  </div>
  <div class="col-sm-12 col-md-6 category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dqydndvhv/image/upload/v1661949427/qyktpsrohbskmytmbd03.jpg)">
    <h3>decor</h3>
    <%= link_to "SHOP NOW", items_path(query: "other"), class: "btn-main" %>
  </div>
  <div class="col-sm-12 col-md-6 category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dqydndvhv/image/upload/v1661949441/l0fg4bjvg5kntp5bbehi.jpg)">
    <h3>chairs</h3>
    <%= link_to "SHOP NOW", items_path(query: "chair"), class: "btn-main" %>
  </div>
</div>
