<h1 class='title_1 pt-4 pb-4'>Editing item</h1>

<div class='container'>
    <div class='item-form-container'>
        <img class="item-form-pic" src="https://res.cloudinary.com/dqydndvhv/image/upload/v1676365892/production/signup-picture_knal8v.jpg" alt="Picture of a frey sofa">
        <%= simple_form_for(@item) do |f| %>
            <div class="column">
                <%= f.input :name %>
                <%= f.input :photo, as: :file %>
                <%= f.input :category, collection: ["Chair", "Sofa", "Table", "Bed", "Desk", "Cupboard", "TV stand", "Chest of drawers", "Garden furniture", "Children furniture", "Decor", "Other"], selected: @item.category %>
                <%= f.input :color, :collection => ["Dark wood", "Light wood", "Black", "White", "Grey", "Blue", "Brown", "Copper", "Gold", "Green", "Navy", "Neutral", "Orange", "Pink", "Red", "Silver", "Yellow", "Purple", "Multiple colors", "Other"] %>
                <%= f.input :description, hint: "Maximum 300 characters" %>
                <%= f.input :price %>
            </div>
            <div class="column">
                <%= f.input :width %>
                <%= f.input :height %>
                <%= f.input :depth %>
                <%= f.input :weight %>
                <%= f.input :shipping, :collection =>["delivery to the renter", "collection from the owner", "flexible"] %>
                <%= f.button :submit, value: "Save changes", class: "btn btn-dark" %>
            </div>
        <% end %>
    </div>
</div>
