<h1 class='title_1'>Editing item</h1>

<div class='form_container'>
<%= simple_form_for(@item) do |f| %>
    <%= f.input :name %>
    <%= f.input :category, :collection => ["Chair", "Sofa", "Table", "Bed", "Desk", "Cupboard", "TV stand", "Chest of drawers", "Garden furniture", "children furniture", "Other"] %>
    <%= f.input :color, :collection => ["Dark wood", "Light wood", "Black", "White", "Grey", "Blue", "Brown", "Copper", "Gold", "Green", "Navy", "Neutral", "Orange", "Pink", "Red", "Silver", "Yellow", "Purple", "Multiple colors", "Other"] %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :width %>
    <%= f.input :height %>
    <%= f.input :depth %>
    <%= f.input :weight %>
    <%= f.input :shipping, :collection =>["deliver to the renter", "ask the renter to collect", "flexible"] %>
    <%= f.submit %>
<% end %>
</div>






<div class='container'>
  <%= link_to "Show this item", @item, class:'btn btn-black' %> |
  <%= link_to "Back to items list", items_path, class:'btn btn-black' %>
</div>
