<div class='container'>


<div class="container">
  <h2>All items available</h2>

  <div class="row">
      <div class="cards">
        <% @items.each do |i| %>
        <div class="product-card">
        <%# <%= cl_image_tag i.photo.key, height: 300, width: 400, crop: :fill %>
          <img src="https://images.unsplash.com/photo-1544457070-4cd773b4d71e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1230&q=80" class="frontpage-replacement-images">
            <div class="col-sm-6 product-card-infos">
              <div>
                <div class="product-card-title-price">
                  <h2><%= i.name %></h2>
                  <h2 class="price">£<%= i.price %></h2>
                </div>
                  <p><i class="fa-solid fa-chair"></i>  <%= i.category %></p>
                <%= link_to "See item", item_path(i), class: "btn btn-dark" %>
              </div>
        </div>
      </div>
    <% end %>
  </div>

<div class='new-item-button'>
<%= link_to 'New item', new_item_path, class:"btn btn-black" %>
</div>
</div>
