<div class="container">
  <h2 class="title_2">All Products</h2>
  <div class="search">
  <%= form_with url: items_path(category: params[:category], color: params[:color], shipping: params[:shipping]), method: :get, class: "d-flex mb-3" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control rounded-0",
      placeholder: "Find your dream furniture",
      value: params[:query]
    %>
    <%= select_tag(:category, options_for_select(["Chair", "Sofa", "Table", "Bed", "Desk", "Cupboard", "TV stand", "Chest of drawers", "Garden furniture", "Children furniture", "Decor", "Other"], params[:category]), class: "form-select select", prompt: "category") %>
    <%= select_tag(:color, options_for_select(["Dark wood", "Light wood", "Black", "White", "Grey", "Blue", "Brown", "Copper", "Gold", "Green", "Navy", "Neutral", "Orange", "Pink", "Red", "Silver", "Yellow", "Purple", "Multiple colors", "Other"], params[:color]), class: "form-select select", prompt: "color") %>
    <%= select_tag(:shipping, options_for_select(["delivery to the renter", "collection from the owner", "flexible"], params[:shipping]), class: "form-select select", prompt: "shipping") %>
    <%= submit_tag "Search", class: "btn btn-dark rounded-0" %>
</div>
  <% end %>
  <div class="row mt-5">
    <% @items.each do |i| %>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="product-card">
        <%= cl_image_tag i.photo.key, height: 300, width: 400, crop: :fill %>
          <div class="product-card-infos">
            <div class="card-text">
              <h2><%= i.name %></h2>
              <p class="mb-2"><%= i.category %></p>
              <%= link_to "learn more", item_path(i), class: "btn btn-dark" %>
            </div>
            <h2 class="product-card-pricing">£<%= i.price %><span>/per week</span></h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<div>
<%= link_to 'New item', new_item_path, class:"btn btn-dark" %>
</div>
</div>
