<h1>Add a new item</h1>

<%= simple_form_for(@item) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.input :category, :collection => ["Chair", "Sofa", "Table", "Bed", "Desk", "Cupboard", "TV stand", "Chest of drawers", "Garden furniture", "children furniture", "Other"] %>
    <%= f.input :color, :collection => ["Dark wood", "Light wood", "Black", "White", "Grey", "Blue", "Brown", "Copper", "Gold", "Green", "Navy", "Neutral", "Orange", "Pink", "Red", "Silver", "Yellow", "Purple", "Multiple colors", "Other"] %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :width %>
    <%= f.input :height %>
    <%= f.input :depth %>
    <%= f.input :weight %>
    <%= f.input :shipping, :collection =>["deliver to the renter", "ask the renter to collect", "flexible"] %>
    <%= f.submit %>
<% end %>

<div>
  <%= link_to "Back", items_path %>
</div>
