<h1 class='title_1'><%= @item.name %></h1>
<div class='container'>
<div class='photo_card'>
<%= cl_image_tag @item.photo.key, class:'pic' %>
</div>
</div>

<div class='container'>
<div class='d-flex'>

  <div class='info_card_1'>
  <p>Color:   <%= @item.color %></p>
  <p>Price:   <%= @item.price %></p>
  <p>Description:   <%= @item.description %></p>
  <p>Width:   <%= @item.width %>         Height:   <%= @item.height %>         Depth:   <%= @item.depth %></p>
  <p>Weight:   <%= @item.weight %></p>
  <p>Shipping Option:   <%= @item.shipping %></p>

  <% if current_user == @item.user %>
    <%= button_to "Delete", @item, method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-sm btn-dark'%>
  <% end %>
  <%= simple_form_for [@item, @favorite] do |f| %>
      <% if current_user %>
        <%= f.button :submit, value: "Add to favorite", class: "btn btn-dark" do %>
          <i class="fa-regular fa-heart"></i>
      <% end %>
      <% else %>
        <%= link_to "Add to favorites", new_user_session_path, class:'btn btn-dark' %>
      <% end %>
    <% end %>
  </div>

  <div class='info_card_2'>
    <h4 class='title_2'>Rent this item</h4>

    <%= simple_form_for [@item, @booking] do |f| %>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :end_date, as: :date, html5: true %>
      <% if current_user %>
        <%= f.button :submit, value: "Rent this item", class: "btn-pink" %>
      <% else %>
        <%= link_to "Rent this item", new_user_session_path, class:'btn btn-dark' %>
      <% end %>
    <% end %>

  </div>

</div>
</div>

<div class = 'container'>

<%= link_to "Back to Items", items_path, class: 'btn btn-dark'%>
<%= link_to "Edit", edit_item_path, class: 'btn btn-dark'%>
</div>
