<h1 class='title_1'><%= @item.name %></h1>
<div class='info_container'>
<p><%= @item.availability %></p>
<p><%= @item.color %></p>
<p><%= @item.description %></p>
<p><%= @item.price %></p>
<p><%= @item.width %></p>
<p><%= @item.height %></p>
<p><%= @item.depth %></p>
<p><%= @item.weight %></p>
<p><%= @item.shipping %></p>

<%= button_to "Delete", @item, method: :delete, data:{ turbo_confirm: "Are you sure?"}, class: 'btn btn-dark'%>
</div>

<div class = 'container'>
<%= link_to "Back to Items", items_path, class: 'btn btn-dark'%>
<%= link_to "Edit", edit_item_path, class: 'btn btn-dark'%>
<%= link_to "Rent", new_item_booking_path(@item), class: 'btn btn-dark' %>
</div>
